:root{
  --main-font: 'Inter', sans-serif;
  --main-font-color: #000;
  --secondary-font-color: #fff;
  --descr-color-ligth: hsl(36, 100%, 99%);
  --descr-color-dark: hsl(236, 13%, 42%);
  --main-hover-color: hsl(5, 85%, 63%);
  --secondary-hover-color:hsl(35, 77%, 62%);
  --dark-color: hsl(240, 100%, 5%);
}
body{
  box-sizing: border-box;
}
h1-h6,
ul,
p{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.extra-bcg{
  background-color: var(--dark-color);
  z-index: -1;
  padding: 200px 200px;
}
.extra-bcg2{
  background-color: var(--descr-color-ligth);
}